/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  position: fixed;
  width: 100%;
  height: auto;
}


.kiosk-container {
  height: auto;
  display: flex;
}

.leaflet-container {
  width: 100%;
  height: auto;
}
